body{
	background: aliceblue;
	width: 1370px;
	margin: 2px auto;
}

.header{
	background: lavender;
	/*height: 50px;*/
	padding: 2px 10px;
}
.p2{
	font-size: 100%;
}

.utama{
	height: 450px;
}

.utama .sidebar{
	background: mistyrose;
	font-size:150% ;
	font-family: dominique ;
	float: left;	
	width: 25%;
	height: 117%;
}
 
 
.utama .content{
	font-family: dominique;
	font-size: 200%;
	background: azure;
	text-align: center;
	float: left;
	height: 100%;
	width: 75%;	
}
.p1{
	text-align: left;
}