.h1{
	background-color: lavender;
	text-align: center;
	font-size: large;
	height: 250px;
	width: auto;
}
.isi{
	display: flex;
}
.db{
	background-color: mistyrose;
	text-align: center;
	font-size: large;
	height: 100vh;
	width: 500px
}
.c{
	background-color: azure;
	text-align: center;
	font-size: larger;
	height: 100vh;
	width: 838px;
	margin-right: 10px;
}